@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Oswald&display=swap');

:root{
    --primary-color: #606060;
    --secondary-color: #7DB4C9;
    --accent1-color: #326E8B;
    --accent2-color: #E4AB30;
    --heading-font: 'Shadows Into Light', serif;
    --paragraph-font: 'Oswald', serif;
    --nav-background-color: black;
    --nav-link-color: lightgrey;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #E4AB30;
    font-family: var(--Oswald);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--accent2-color);
}
.hero p{
    padding: 25px;
    width: 1400px;
    font-size: large;
}
body{
    font-family: var(--Oswald);
    max-width: 960px;
    padding: 20px;
}
div {
    position: relative;
}
.hero h1{
    position: absolute;
    background-color: white;
    width: 1400px;
    padding: 3px;
    opacity: .75;
    color: black;
    top: 200px;
    text-align: center;
    font-size: xx-large;
}
.hero article{
    position: absolute;
    background-color: white;
    align-self: center;
    opacity: .75;
    width: 1400px;
    top: 850px;
    left: 0px;
    right: 100px;
    font-size: x-large;
}

.hero img{
    position: relative;
    display: block;
    width: 1400px;
    height: auto;
}
/*article img{
    position: relative;
    font-size: larger;
    background-color: #fefefe;
    opacity: 1.5;
    justify-content: right;
}*/
.hero article img{
    float: right;
    align-self: center;
    width: 250px;
    padding: 3px;
    right: 50px;

}
